<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sunyu.util.test.mapper.farm.FarmMapper">

    <update id="updateFarmWork">
        update
        farm_work
        set
        effectiveJobArea = #{farmWork.effectiveJobArea} ,
        wkt_poly = #{farmWork.wktPoly} ,
        insertTime = now()
        where
        did = #{farmWork.did}
        and jobEndTime = #{farmWork.jobEndTime}
    </update>
    <select id="selectFarmWorkSplitDay" resultType="sunyu.util.test.entity.FarmWorkSplitDay">
        select
        did,
        jobWidth
        from
        farm_work_split_day
        where
        jobDay = #{day} and jobWidth is not null
        limit 0,100
    </select>

</mapper>