<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sunyu.util.test.mapper.tdengine.TdengineMapper">

    <select id="selectWorkPoints" resultType="sunyu.util.test.entity.DP">
        select `3014` p3014,`2602` p2602,`2603` p2603,`3020` p3020,`4031` p4031 from frequent.d_p
        <where>
            did=#{did}
            and _rowts <![CDATA[>=]]> #{startTime} and _rowts <![CDATA[<=]]> #{endTime}
            and `2601` = 0 and `2602` != 0 and `2603` != 0
            and `2602` <![CDATA[>=]]> -180 and `2602` <![CDATA[<=]]> 180
            and `2603` <![CDATA[>=]]> -90 and `2603` <![CDATA[<=]]> 90
            <choose>
                <when test="checkWorkStatus == true">
                    and `4031`=1
                </when>
            </choose>
        </where>
    </select>

    <select id="selectWorkProtocol" resultType="sunyu.util.test.entity.DP">
        select protocol from frequent.d_p
        <where>
            did=#{did}
            and _rowts <![CDATA[>=]]> #{startTime} and _rowts <![CDATA[<=]]> #{endTime}
            and protocol match '(,2601:0)'
        </where>
    </select>

</mapper>